<!-- htmlmin:ignore -->
    <div class="toper">
            <div class="container">
                <ul class="pull-right">
                    <li class="login"><a href="javascript:void(0)">卖车进度查询</a></li>
                    <li style="display: none" class="logout"><i class="iconfont icon-user"></i><span class="userName">13585458584</span>  <a class="btn-logout" href="javascript:void(0)"> 退出</a></li>
                    <li class="divider"></li>
                    <li><a href="http://pai.ttpai.cn/" target="_blank"><i class="iconfont"></i> 经销商登录 </a></li>
                    <li class="divider"></li>
                    <li><a class="ercode" href="javascript:void(0)"><i class="icon-weixin"></i> 关注天天拍车微信</a>
                        <div class="show-ercode">
                            <img src="ercode.png">
                            <br>
                            扫一扫图中二维码<br>获取更多拍车信息
                        </div>
                    </li>
                </ul>
            </div>
    </div>
    <div class="header">
        <div class="container clearfix">
            <div class="logo pull-left"><a href="http://www.ttpai.cn">
            <img src="logo.png">
            </a></div>
            <div class="nav">
                <ul>
                    <li><a href="http://www.ttpai.cn" class="on">卖 车</a></li>
                    <li><a target="_blank" href="http://apply.ttpai.cn/cooperation.html">以旧换新</a><i class="icon-hot"></i></li>

                    <li><a href="/service">服务保障</a></li>
                </ul>
            </div>
            <div class="service-time">
                <p><i class="icon-tel"></i>  40085-77885</p>
                <span>免费热线服务时间 8:00 - 20:00</span>
            </div>
        </div>
    </div>
<!-- htmlmin:ignore -->